# 1. GÜN: Python ile Numpy ve Pandas Kütüphaneleri Kullanımı

In [1]:
print('merhaba')

merhaba

In [2]:
#Python'da sayı-metin-açıklma yazdırma
123

123

In [3]:
print('123')
print(123)
print('Murat')

123
123
Murat

In [4]:
12,23,45

(12, 23, 45)

In [5]:
x=12
y=15
z=x+y
x
y
z # yalnızca son değeri gçsterir

27

In [6]:
x=12
y=15
z=x+y
print(x)
print(y)
print(z)

12
15
27

In [7]:
print(x,y,z)

12 15 27

In [8]:
print('Murat',"ALTUN")

Murat ALTUN

In [9]:
print('Murat',"ALTUN",sep="-")

Murat-ALTUN

In [11]:
w=10

In [12]:
print(w)

10

In [14]:
print(x,end="\n") # varsaılan değeri /n
print(y, end="-") 
print(z)

12
15-27

In [15]:
#IPYNB'de
9+5

14

In [16]:
2**3 #üssü

8

In [17]:
5*5
5+5

10

In [18]:
print (2**3+5)

13

In [19]:
"Murat"+" "+"ALTUN" # + operatörü str metinleri ekler

'Murat ALTUN'

In [20]:
print(5*5)

25

In [22]:
print(5*'BTK\n')
print(5*'BTK')

BTK
BTK
BTK
BTK
BTK

BTKBTKBTKBTKBTK

In [23]:
print(100*"BTK\t")

BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK	BTK

In [26]:
# Aritmetik Operatörler
print("9+5=",9+5)
print("9-5=",9-5)
print("9*5=",9*5)
print("9/5=",9/5)
print("9%5",9%5) #mod kalan sayı
print("9**5=",9**5) # üssü
print("9//5=",
      9//5) # tam bölme

9+5= 14
9-5= 4
9*5= 45
9/5= 1.8
9%5 4
9**5= 59049
9//5= 1

In [32]:
#Değişkenler ve Veri Türleri
sayi1=10
print(type(sayi1))
sayi1="Murat"
print(type(sayi1))# type fonksyonu değişenin veya değerin türünü verir
sayi1=10.
print(type(sayi1))
#complex sayılar
sayi1=10+5j
print(type(sayi1))
ehliyet=True
print(type(ehliyet))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'complex'>
<class 'bool'>

In [33]:
int(ehliyet) #int fonksiyonu değer tam sayı tipine çevirir

1

In [29]:
#KArşlaştırma OperatörlerTrue False yanıt evet hayır
sayi1=10
sayi2=5
print(sayi1>5) # Büyük mü
print(sayi1<5) #küçük mü
print(sayi1==5) # eşit mi
print(sayi1!=sayi2) #Farklı mı
print(9<5)
print(9==5)
print(9!=5)
print(9>=5)
print(9<=5)

True
False
False
True
False
False
True
True
False

In [34]:
# Mantıksal Operatörler and, or ve not
unversite=True
ehliyet=True
# and operaötrü iki değer de doruysa True döndürür
print(unversite and ehliyet)

True

In [35]:
# Mantıksal Operatörler and, or ve not
unversite=True
ehliyet=False
# and operaötrü iki değer de doruysa True döndürür Çarpma işlemine karşılık gelir
print(unversite and ehliyet)

False

In [36]:
# or
unversite=True
ehliyet=False
# ar operatörü verilen koşullardan bir tanesi doruysa True döndürur
print(unversite or ehliyet)

True

In [37]:
yas=42
ehliyet=True
unversite=True
tecrube=5
#şart: 25 yaş ve altı üniversite mzeunu veya 5 yıl tecrübe ehliyet zorunlu
yas<=25 and (universite or tecrube>=5) and ehliyet

False

In [39]:
yas=25
ehliyet=True
universite=True
tecrube=4
#şart: 25 yaş ve altı üniversite mzeunu veya 5 yıl tecrübe ehliyet zorunlu
yas<=25 and (universite or tecrube>=5) and ehliyet

True

In [40]:
yas=25
ehliyet=True
universite=False
tecrube=4
#şart: 25 yaş ve altı üniversite mzeunu veya 5 yıl tecrübe ehliyet zorunlu
yas<=25 and (universite or tecrube>=5) and ehliyet

False

In [41]:
ehliyet==1

True

In [45]:
#Koşu ifadeleri ve kullnaııc veri girişi
yas=int(input("Yas:")) # input fonk ile alınan veri str türündedir
ehliyet=int(input("Ehliyet var mı? 1- Evet, 0- Hayır:")) # 1 True False :0
universite=bool(int(input("Universite mezunu 1- Evet, 0- Hayır:")))
tecrube=int(input("Tecrube:"))
if yas<=25 and (universite or tecrube>=5) and ehliyet:
    print("Mülakata girmeye hak kazandınz")
else: 
    print("Mülakata girmeye hak kazanamadınız")
    if yas>25:
        print ("Yaş koşulu sağlanmıyor")
    if ehliyet==0:
        print('Ehliyet yok')
    if universite!=0 and tecrube<5:
        print('Ünivertise veya iş tecrübesi yetersiz')

Yas:42
Ehliyet var mı? 1- Evet, 0- Hayır:1
Universite mezunu 1- Evet, 0- Hayır:1
Tecrube:5
Mülakata girmeye hak kazanamadınız
Yaş koşulu sağlanmıyor

In [55]:
# Vize, final, derse devam notlarını ve ağırlıklarını kullanıcı girsin
#>=90 AA
# 85 BA
#>=75 BB
#>=70 CB
#>=60 CC
#>=50 DC
#50 altı kalsın
def ortalama_hesapla(vize=0, vize_yzd=0, final=0, final_yzd=0, dersevam=0, dersevam_yzd=0):
    ''' vize=int(input("Vize notunu giriniz:"))
    vize_yzd=float(input("Vize apırlığını girin %:"))
    final=int(input("Final notunu giriniz:"))
    final_yzd=float(input("Final apırlığını girin %:"))
    dersevam=int(input("Derse devam notunu giriniz:"))
    dersevam_yzd=float(input("Derse devam apırlığını girin %:"))
      '''
    ortalama=((vize*vize_yzd)+(final*final_yzd)+(dersevam*dersevam_yzd))
  
    print ('Ortalamanız:',ortalama)
    if ortalama>=90:
        print('AA')
    elif ortalama>=85:
        print('BA')
    elif ortalama>=75:
        print('BB')
    elif ortalama>=70:
        print('CB')
    elif ortalama>=60:
        print('CC')
    elif ortalama>=50:
        print('DC')
    else:print('Kaldı')

In [54]:
ortalama_hesapla(50,.20,80,.50,50,.20)

Ortalamanız: 60.0
CC

In [56]:
ortalama_hesapla(vize=50,vize_yzd=.20,final=80,final_yzd=.50,dersevam=50,dersevam_yzd=.20)

Ortalamanız: 60.0
CC

In [60]:
#döngüler
sayi=0
while sayi<10:
    print(sayi,".sayi","Merhaba")
    sayi+=1 #sayi=sayi+1 sayiyi  artır

0 .sayi Merhaba
1 .sayi Merhaba
2 .sayi Merhaba
3 .sayi Merhaba
4 .sayi Merhaba
5 .sayi Merhaba
6 .sayi Merhaba
7 .sayi Merhaba
8 .sayi Merhaba
9 .sayi Merhaba

In [61]:
for i in range(10):
    print(i,".sayi","Merhaba")

0 .sayi Merhaba
1 .sayi Merhaba
2 .sayi Merhaba
3 .sayi Merhaba
4 .sayi Merhaba
5 .sayi Merhaba
6 .sayi Merhaba
7 .sayi Merhaba
8 .sayi Merhaba
9 .sayi Merhaba

In [63]:
for i in range(0,10,2): # başlangıç, bitiş ve step
    print(i,".sayi","Merhaba")

0 .sayi Merhaba
2 .sayi Merhaba
4 .sayi Merhaba
6 .sayi Merhaba
8 .sayi Merhaba

In [65]:
sayi_listesi=list(range(1,11))
sayi_listesi
for sayi in sayi_listesi:
    print(sayi**2)

1
4
9
16
25
36
49
64
81
100

In [57]:
# listede fonksiyon uygulama list
liste=[1,2,3,4,5,6,7,8,9,10]

def kare_al(x):
    return x**2

sonuc_listesi=[kare_al(i) for i in liste]
sonuc_listesi

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
sonuc_listesi=[i**2 for i in liste]
sonuc_listesi

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
# karakter dizileri
ad="Murat"
for harf in ad:
    print(harf)

M
u
r
a
t

In [69]:
ad[0] # index0 dan başlar

'M'

In [70]:
ad[0:5:2] #başlangıç: bitiş: step

'Mrt'

In [71]:
ad[-1] #sondan brinci

't'

In [73]:
ad[:-1]

'Mura'

In [74]:
ad[-1::-1]

'taruM'

In [77]:
BTK_Eğitim=['Ali Cemil Özdemir','Sıla ORAK',
            'Yusuf Baran Yıldız']
for ogreci in BTK_Eğitim:
    ogr_ad_list=ogreci.split()
    for ad in ogr_ad_list:
        print(ad[0:2],"****",end=" ", sep="")
    print("\n")

Al**** Ce**** Öz****

Sı**** OR****

Yu**** Ba**** Yı****

In [82]:
def iism_gizle(isim_listesi):
    for isim in isim_listesi:
        isimler=isim.split()
        for ad in isimler:
            print(ad[0:2],"****",end=" ", sep="")
        print("\n")

In [83]:
ogrenciler=["Ali Cemil Özdemir","Sıla ORAK","Yusuf Baran Yıldız"]
iism_gizle(ogrenciler)

Al**** Ce**** Öz****

Sı**** OR****

Yu**** Ba**** Yı****

In [85]:
iism_gizle(['Murat ALTUN'])

Mu**** AL****

In [88]:
#listeler
meyveler=["elma","armut","muz", "elma"]
meyveler[0]

'elma'

In [89]:
sayilar=[0,1,2,3,4,5,6,7,8,9]
sayilar[0:5]

[0, 1, 2, 3, 4]

In [90]:
#liste metotları
meyveler.append("kiraz") #eleman ekleme
meyveler

['elma', 'armut', 'muz', 'elma', 'kiraz']

In [91]:
meyve1=["elma","armut","muz"]
meyve2=["kiraz","karpuz"]
meyve1.extend(meyve2) #listeleri birleştirme
meyve1

['elma', 'armut', 'muz', 'kiraz', 'karpuz']

In [92]:
#zip
meyve1=["elma","armut","muz"]
uretim=[1000,5000,3000]
meyve_uretimi=zip(meyve1,uretim)
list(meyve_uretimi)

[('elma', 1000), ('armut', 5000), ('muz', 3000)]

In [100]:
#filer
sayilar=[0,1,2,3,4,5,6,7,8,9]
def cift(sayi):
    return sayi%2==0

filtre_cift=list(filter(cift,sayilar))
print (filtre_cift)

[0, 2, 4, 6, 8]

In [105]:
#enumerate
liste=["Mustafa","Ali","Veli"]
for indeks,ogrenci in enumerate(liste):
    print(indeks+1,ogrenci)

1 Mustafa
2 Ali
3 Veli

In [108]:
#index
ogrenciler=["Mustafa","Ali","Veli", 'Ali']
ogrenciler.index("Ali")

1

In [110]:
# aranan ögenin sayısı
ogrenciler.count("Ali")

2

In [111]:
ogrenciler.append("Murat")
ogrenciler

['Mustafa', 'Ali', 'Veli', 'Ali', 'Murat']

In [112]:
ogrenciler.insert(0,"Yusuf") # belirtilen indexe öğrenci ekle

In [113]:
ogrenciler

['Yusuf', 'Mustafa', 'Ali', 'Veli', 'Ali', 'Murat']

In [114]:
ogrenciler.remove("Veli") # belirtilen ogeni sil
ogrenciler

['Yusuf', 'Mustafa', 'Ali', 'Ali', 'Murat']

In [115]:
ogrenciler.pop() # son ogeni sil

'Murat'

In [116]:
ogrenciler

['Yusuf', 'Mustafa', 'Ali', 'Ali']

In [86]:
#tuple demetler
meyve=("elma","armut","muz")
meyve[0]

'elma'

In [87]:
meyve[-1]

'muz'

In [ ]:
meyve=("elma","armut","muz", "elma")

In [117]:
#Sözlükler
sozluk={"AI":"Artificial Intelligence",
        "ML":"Machine Learning",
        "DL":"Deep Learning"}
keys=sozluk.keys()
print(keys)
values=sozluk.values()
print(values)
items=sozluk.items()
print(items)

dict_keys(['AI', 'ML', 'DL'])
dict_values(['Artificial Intelligence', 'Machine Learning', 'Deep Learning'])
dict_items([('AI', 'Artificial Intelligence'), ('ML', 'Machine Learning'), ('DL', 'Deep Learning')])

In [118]:
aranan_kelime=input("Aranacak kelimeyi giriniz:")
print(sozluk.get(aranan_kelime))

Aranacak kelimeyi giriniz:ML
Machine Learning

In [120]:
import pandas as pd
ogrenciler=["Mustafa","Ali","Veli", 'Ali']
df=pd.DataFrame(ogrenciler,columns=["Ogrenciler"])
df

  Ogrenciler
0    Mustafa
1        Ali
2       Veli
3        Ali

In [121]:
#sözlüken bir data frame oluşturma
ogrenciler={"Adi":["Mustafa","Ali","Veli", 'Ali'],
            "Soyadi":["Cemal","Ozdemir","Yıldız", 'Ozdemir'],
            "Numarasi":[1,2,3,4]}
df=pd.DataFrame(ogrenciler)
df

       Adi   Soyadi  Numarasi
0  Mustafa    Cemal         1
1      Ali  Ozdemir         2
2     Veli   Yıldız         3
3      Ali  Ozdemir         4

In [122]:
df.to_csv("ogrenciler.csv")

In [123]:
df2=pd.read_csv("ogrenciler.csv")
df2

   Unnamed: 0      Adi   Soyadi  Numarasi
0           0  Mustafa    Cemal         1
1           1      Ali  Ozdemir         2
2           2     Veli   Yıldız         3
3           3      Ali  Ozdemir         4